<div class = "Title">
        <h3>Create Apt</h3>
</div>

<div>
<h5>Common Name</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Common Name</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Alternate Name</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Target Sector</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Atteck Vector</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Associated Malware</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>TTPs</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Modus Operandi</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>References</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>

<h5>Toolsets</h5>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Common Name</label>
</span>
</div>