<section class="hero is-dark is-fullheight is-bold">
    <div class="hero-body">
    <div class="container">
      <h4 class="title">Welcome to PowerLvl</h4>
      <p style="padding-bottom: 20px;">Start your powerlifting journey today</p>
      <a href="#main" class="btn btn-secondary active" style="padding-left: 20px; padding-right: 20px" role="button">Start</a>  
    </div>
    </div>
</section>

<section class="main is-fullheight is-bold" id="main">
    <div class="intro" style="padding-bottom: 20px;">
        <h4 class="card-title" style="font-weight: bolder; font-size:larger">PowerLvl Percentile Calculator</h4>
        <p></p>
    </div>
    <div class="card" style="width:75%">
        <div class="card-title">
            <h2>Enter your info below</h2>
        </div>
        <div class="card-body" style="width:100%; display:block">
            <div class="form-group row">
                <label class="col-sm-2">Units*</label>
                <select class="form-control col-sm-4" [(ngModel)]="data.lifter.preferredUnit">
                    <option>kg</option>
                    <option>lbs</option>
                </select>
                <label class="col-sm-2">Target Percentile</label>
                <input class="form-control col-sm-4" [(ngModel)]="data.lifter.targetPercentile" type="number">
            </div>
    
            <div class="form-group row">
                <label class="col-sm-2">Bodyweight*</label>
                <input class="form-control col-sm-4" [(ngModel)]="data.lifter.bodyweight" type="number">
                <label class="col-sm-2">Gender*</label>
                <select class="form-control col-sm-4" [(ngModel)]="data.lifter.gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2">Squat*</label>
                <input class="form-control col-sm-4" [(ngModel)]="data.lifter.squat" type="number">
                <label class="col-sm-2">Reps*</label>
                <input class="form-control col-sm-4" [(ngModel)]="squatReps" type="number">
            </div>
        
            <div class="form-group row">
                <label class="col-sm-2">Bench*</label>
                <input class="form-control col-sm-4" [(ngModel)]="data.lifter.bench" type="number">
                <label class="col-sm-2">Reps*</label>
                <input class="form-control col-sm-4" [(ngModel)]="benchReps" type="number">
            </div>
        
            <div class="form-group row">
                <label class="col-sm-2">Deadlift*</label>
                <input class="form-control col-sm-4" [(ngModel)]="data.lifter.deadlift" type="number">
                <label class="col-sm-2">Reps*</label>
                <input class="form-control col-sm-4" [(ngModel)]="deadliftReps" type="number">
            </div>

            <button (click)="submitResults()" class="btn btn-light btn-large">Calculate</button>
        </div>
    </div>
    
    {{JSON.stringify(data.lifter)}}
</section>
