<div class="image">
    <h1>APT TRACKER</h1>
    <p>An advanced persistent threat is a stealthy computer network threat actor, 
        typically a nation state or state-sponsored group, 
        which gains unauthorized access to a computer network
         and remains undetected for an extended period.
         Such threat actors' motivations are typically political or economic. To date, every major business sector has recorded
          instances of attacks by advanced actors with specific goals seeking to steal, spy or disrupt.
    </p>
    <button class="button" onclick="location.href='matrix.component.html'">Learn More</button>
</div>

